<strong>Recover password</strong>

<p>A recover was requested for ({{ email }}).</p>

<p>Continue recovering your password with token {{ token }} or click on link:</p>

<a href="{{ link }}">Create new password</a>
